Source: r-bioc-genomicranges
Section: gnu-r
Priority: optional
Maintainer: The Genome Institute <gmt@genome.wustl.edu>
Build-Depends: r-base-dev, r-base-core, debhelper (>> 4.1.0), r-bioc-biocgenerics (>= 0.1.12), r-bioc-iranges (>= 1.15.42)
Homepage: http://www.bioconductor.org/packages/2.11/bioc/html/GenomicRanges.html

Package: r-bioc-genomicranges
Architecture: all
Maintainer: Bioconductor Package Maintainer <maintainer@bioconductor.org>
Description: The ability to efficiently store genomic annotations and alignments is playing a central role when it comes to analyze high-throughput sequencing data (a.k.a. NGS data). The package defines general purpose containers for storing genomic intervals as well as more specialized containers for storing alignments against a reference genome.
License: Artistic2.0
Depends: r-base-core, r-bioc-biocgenerics (>= 0.1.12), r-bioc-iranges (>= 1.15.42)

